apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.name }}-config
  labels:
    app: {{ .Values.app.name }}
data:
  ENVIRONMENT: "{{ .Values.configmap.environment }}"
  SERVER_PORT: "{{ .Values.app.port }}"
  MODEL_HOST: "http://{{ .Values.modelService.name }}:{{ .Values.modelService.port }}"
  debug: "false"
