apiVersion: v1
kind: ConfigMap
metadata:
  name: ratelimit-config
  namespace: istio-system
data:
  config.yaml: |
    domain: team18-ratelimit
    descriptors:
      # Global limit
      - key: PATH
        value: "/sms/"
        rate_limit:
          unit: minute
          requests_per_unit: 10
      # Per-user limit
      - key: USER
        rate_limit:
          unit: minute
          requests_per_unit: 5
