# Based on Istio rate limit example: https://istio.io/latest/docs/tasks/policy-enforcement/rate-limit/

apiVersion: v1
kind: ConfigMap
metadata:
  name: ratelimit-config
  namespace: istio-system
data:
  config.yaml: |
    domain: {{ .Values.ratelimit.domain }}
    descriptors:
      # Global limit
      - key: PATH
        value: "/sms/"
        rate_limit:
          unit: minute
          requests_per_unit: 10
      # Per-user limit
      - key: USER
        rate_limit:
          unit: minute
          requests_per_unit: 5
