apiVersion: v1
kind: Service
metadata:
  name: model-service
spec:
  type: {{ .Values.service.type }}
  selector:
    app: model-service
  ports:
    - port: {{ .Values.modelService.port }}
      targetPort: {{ .Values.modelService.port }}