replicaCount:
  app: 2
  modelService: 1

image:
  app: ghcr.io/doda25-team18/app:0.4.0
  model: ghcr.io/doda25-team18/model-service:0.2.0

app:
  name: "app"
  port: 8080

modelService:
  name: "model-service"
  port: 8081

service:
  type: ClusterIP

ingress:
  enabled: true
  host: stable.team18.nl
  prereleaseHost: prerelease.team18.nl

configmap:
  environment: production

secrets:
  smtpPassword: "changeme-during-installation"

storage:
  enabled: true
  path: "/mnt/shared"
  mountPath: "/app/shared"


kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      serviceMonitorSelector: {}
      podMonitorSelector: {}

## Note: Copiliot assisted with the creation of the Grafana configuration below - specifically, the datasoruces section with the prompt "assist me in setting up Grafana in my helm values.yaml file"
grafana:
  enabled: true
  
  adminUser: admin
  adminPassword: admin
  
  service:
    type: ClusterIP
    port: 80
  
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: http://test-a3-kube-prometheus-st-prometheus:9090
          access: proxy
          isDefault: true
