replicaCount:
  app: 2
  modelService: 1

image:
  app: ghcr.io/doda25-team18/app:0.4.0
  model: ghcr.io/doda25-team18/model-service:0.2.0

app:
  name: "app"
  port: 8080
  version: "v1"

modelService:
  name: "model-service"
  port: 8081
  version: "v1"

service:
  type: ClusterIP

ingress:
  enabled: true
  host: stable.team18.nl
  prereleaseHost: prerelease.team18.nl

configmap:
  environment: production

secrets:
  smtpPassword: "changeme-during-installation"

storage:
  enabled: true
  path: "/mnt/shared"
  mountPath: "/app/shared"

canary:
  enabled: true
  image: ghcr.io/doda25-team18/app:0.6.0  # v2 canary image with accuracy score feature
  replicaCount: 1

  modelService:
    image: ghcr.io/doda25-team18/model-service:0.2.0
    replicaCount: 1

istio:
  enabled: true
  gatewayName: "ingressgateway"
  trafficSplit:
    oldVersion: 90
    newVersion: 10

kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      serviceMonitorSelector:
        matchLabels:
          release: team18-final
      podMonitorSelector:
        matchLabels:
          release: team18-final
      ruleSelector:
        matchLabels:
          release: team18-final
      ruleNamespaceSelector: { }

  grafana:
    enabled: true
    adminUser: admin
    adminPassword: admin

    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
        searchNamespace: ALL

  alertmanager:
    enabled: true
    alertmanagerSpec:
      replicas: 1
      podMetadata:
        annotations:
          sidecar.istio.io/inject: "false"
    config:
      global:
        smtp_smarthost: 'mailpit:1025'
        smtp_from: 'alerts@team18.nl'
      route:
        receiver: 'email-notifications'
        group_wait: 5s
      receivers:
        - name: 'email-notifications'
          email_configs:
            - to: 'developers@team18.nl'
              send_resolved: true
              require_tls: false
        - name: 'null'

ratelimit:
  domain: "team18-ratelimit"
