replicaCount:
  app: 2
  modelService: 1

image:
  app: ghcr.io/doda25-team18/app:0.4.0
  model: ghcr.io/doda25-team18/model-service:0.2.0

app:
  name: "app"
  port: 8080
  version: "v1"

modelService:
  name: "model-service"
  port: 8081
  version: "v1"

service:
  type: ClusterIP

ingress:
  enabled: true
  host: stable.team18.nl
  prereleaseHost: prerelease.team18.nl

configmap:
  environment: production

secrets:
  smtpPassword: "changeme-during-installation"

storage:
  enabled: true
  path: "/mnt/shared"
  mountPath: "/app/shared"

istio:
  enabled: true
  gatewayName: "ingressgateway"
  trafficSplit:
    oldVersion: 90
    newVersion: 10

kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      serviceMonitorSelector:
        matchLabels:
          release: test-a3
      podMonitorSelector:
        matchLabels:
          release: test-a3
